<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#/login" role="tab" data-toggle="tab">Login</a></li>
        <li role="presentation" class="active"><a role="tab" data-toggle="tab">Registration</a></li>
        <li role="presentation"><a href="#/forgotPassword" role="tab" data-toggle="tab">Forgot Password</a></li>
    </ul>
    <div class="tab-content">
        <form name="registrationForm" novalidate>
            <div class="form-horizontal">
                <div id="input-group-email">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="EmailAddress">Email Address</label>
                        <div class="col-md-8">
                            <input id="EmailAddress" name="EmailAddress" type="email" required="required" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group text-danger hidden">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-exclamation-sign"></span>
                        <div class="col-md-8 danger">
                            <span>This field is mandatory. Please fill it out.</span>
                        </div>
                    </div>
                    <div class="form-group text-danger hidden">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-exclamation-sign"></span>
                        <div class="col-md-8 danger">
                            <span>Invalid email address. Please use type a valid one (for instance: john@example.com).</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-info-sign"></span>
                        <div class="col-md-8">
                            <span>
                                Please specify a personal email address, that can be accessed only by you.
                                Don't use work emails or addresses at any unreliable providers.
                                We will send you sensitive, personal information to this address.
                                Please read our safety advises if you have any questions.
                            </span>
                        </div>
                    </div>
                </div>
                <div id="input-group-email-verification">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="VerifyEmailAddress">Verify Email Address</label>
                        <div class="col-md-8">
                            <input id="VerifyEmailAddress" name="VerifyEmailAddress" type="email" required="required" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group text-danger hidden">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-exclamation-sign"></span>
                        <div class="col-md-8 danger">
                            <span>This field is mandatory. Please fill it out.</span>
                        </div>
                    </div>
                    <div class="form-group text-danger hidden">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-exclamation-sign"></span>
                        <div class="col-md-8 danger">
                            <span>Not matching email address. Please type the same address as above or fix that one.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-info-sign"></span>
                        <div class="col-md-8">
                            <span>
                                Please type again your email address here, so we can confirm that we will use the right address.
                            </span>
                        </div>
                    </div>
                </div>
                <div id="input-group-password">
                    <div class="form-group has-feedback">
                        <label class="control-label col-md-4" for="Password">Password</label>
                        <div class="col-md-8">
                            <input id="Password" name="Password" type="password" required="required" value="" class="form-control" ng-model="password"
                                   data-password-require="length: 8, nonLetterOrDigit: false, digit: true, lowercase: true, uppercase: true" />
                            <span class="glyphicon glyphicon-eye-open form-control-feedback" data-password-toggle="Password"
                                  data-password-shown-class="glyphicon-eye-open" data-password-hidden-class="glyphicon-eye-close"></span>
                        </div>
                    </div>
                    <div class="form-group text-danger hidden">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-exclamation-sign"></span>
                        <div class="col-md-8 danger">
                            <span>This field is mandatory. Please fill it out.</span>
                        </div>
                    </div>
                    <div class="form-group text-danger hidden">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-exclamation-sign"></span>
                        <div class="col-md-8 danger">
                            <span>Please type in a valid password.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="text-right col-md-4 hidden-sm hidden-xs glyphicon glyphicon-info-sign"></span>
                        <div class="col-md-8">
                            <span>
                                Please pick at least 8 characters long password which has at least one capital letter, lower case letter and a number.
                                It should be a memorable piece of information, but at the same time hard to guess.
                                Nevertheless it is highly recommended to use different password than you use for other sites.
                                We know it could be hard, so please read our advises if you are unsure.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="button" value="Register" class="btn btn-primary pull-right" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>